body {
    font-family: Lato-Medium, sans-serif;
    background: #f8f9fa;
    color: black;
    font-size: 18px;
}

.custom-gap {
    gap: 56px;
}


.main-colour{
    background: #6494ed;
}

.btn-register{
    color: white;
}

.btn-register:hover {
    background-color: rgba(100, 149, 237, 0.8);
    color: white;
}
login-btn:active{
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(100, 149, 237, 0.8);
}

.main-success{
    position: fixed;
    top: 90%;
    left: 2%;
}