<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <script type="module" src="/js/header/header.js"></script>
    <nav class="header navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand name-project d-flex flex-row bd-highlight mb-1" href="/">
                <img class="icon-project" src="/icon/5447.webp" alt="Description of icon">
                <div class="d-flex flex-column bd-highlight">
                    <h1 class=" p-2 bd-highlight">МОИ ФИНАНСЫ</h1>
                    <h2 class="p-2 bd-highlight">ИНФОРМАЦИОННЫЙ РЕСУРС</h2>
                </div>
            </a>
            <div sec:authorize="hasAnyRole('ADMIN', 'USER')">
                <ul class="navbar-nav">


                    <div class="d-flex align-items-center">
                        <span class="me-2">Пользователь: <strong th:text="${currentUser.username}"></strong></span>
                        <a class="btn btn-outline-danger" href="/logout">Выход</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>